In [25]:
import pandas as pd
import numpy as np
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import KFold
import features
import sys
import warnings

if not sys.warnoptions:
    warnings.simplefilter("ignore")

In [2]:
df = pd.read_csv('all_data_combined.csv')
df.head()

,subject_id,age,urea_n_min,urea_n_max,urea_n_mean,resprate_min,resprate_max,resprate_mean,glucose_min,glucose_max,...,oasis,lods,gender_F,gender_M,marital_status_DIVORCED,marital_status_MARRIED,marital_status_SEPARATED,marital_status_SINGLE,marital_status_WIDOWED,death
0,15057,58.831224,16.0,37.0,26.111111,10.0,52,20.104478,67.0,405.0,...,36.5,5.5,0,1,0,1,0,0,0,1
1,79262,81.618606,10.0,15.0,13.500000,11.0,31,18.704225,119.0,348.0,...,48.0,4.0,0,1,0,1,0,0,0,1
2,77191,79.102744,16.0,56.0,35.500000,20.0,31,25.744681,90.0,188.0,...,35.0,6.0,1,0,1,0,0,0,0,0
3,84966,88.232043,8.0,27.0,17.692308,10.0,51,17.770833,92.0,271.0,...,40.5,4.0,1,0,0,0,0,1,0,1
4,94997,90.000000,38.0,48.0,42.250000,4.0,40,26.360000,62.0,135.0,...,35.0,5.0,1,0,0,0,0,1,0,0

In [3]:
df.shape

(2152, 168)

In [51]:

model = RandomForestClassifier()
model.fit(df.iloc[0:1800,1:df.shape[1]-1], df.iloc[0:1800,df.shape[1]-1]) 
model.score(df.iloc[1800:,1:df.shape[1]-1], df.iloc[1800:,df.shape[1]-1])

0.7613636363636364

In [49]:
features=df.columns[1:len(df.columns)-1]
def getFeatures(weights):
    df_w= pd.DataFrame(features)
    df_w.columns =['features']
    df_w['weight']=weights
    return df_w

In [57]:
df_weight = getFeatures(model.feature_importances_)
df_weight.sort_values(by='weight',inplace=True,ascending=False)
df_weight

df_weight.to_csv("randomForest.csv",index = False)

In [52]:
def randomForest(df):
    
    kf = KFold(n_splits=3, random_state=0)
    
    result = []
    
    for train, test in kf.split(df):

        train_data = df.iloc[train,:]
        test_data =  df.iloc[test,:]

        trainx = train_data.iloc[:,1:(train_data.shape[1]-2)]
        trainy = train_data.iloc[:,train_data.shape[1]-1]

        testx = test_data.iloc[:,1:(test_data.shape[1]-2)]
        testy = test_data.iloc[:,test_data.shape[1]-1]

        model = RandomForestClassifier()
        model.fit(trainx, trainy)
        result.append(model.score(testx, testy))
               
    return np.average(result)

In [53]:
result=randomForest(df)
print(result)

0.7499957912948437

                     features    weight
151                 51277_var  0.044364
147                 51250_var  0.030753
86                  51256_max  0.028929
105                 50902_min  0.025882
116                 51244_min  0.022142
90                  51277_max  0.021541
111                 50983_min  0.019716
89                  51275_max  0.019244
145                 51248_var  0.018813
68                  50882_max  0.017472
113                 51221_min  0.015801
118                 51249_min  0.014540
148                 51265_var  0.013084
87                  51265_max  0.013054
96                  50813_min  0.013031
100                 50861_min  0.012042
75                  50971_max  0.011824
127                 51301_min  0.011683
110                 50971_min  0.010811
73                  50960_max  0.010421
46                 51244_mean  0.010352
74                  50970_max  0.009996
102                 50878_min  0.009723
85                  51254_max  0.009254
69                  50893_max  0.009237
101                 50868_min  0.008978
156                    apsiii  0.008604
142                 51221_var  0.008063
52                 51265_mean  0.007653
126                 51279_min  0.007588
..                        ...       ...
40                 50971_mean  0.002369
24                  urine_max  0.002272
106                 50912_min  0.002210
42                 51006_mean  0.002195
0                         age  0.002190
79                  51222_max  0.002163
57                 51301_mean  0.002066
22                  urine_min  0.001921
51                 51256_mean  0.001907
45                 51237_mean  0.001875
67                  50878_max  0.001851
115                 51237_min  0.001837
71                  50912_max  0.001816
158                      lods  0.001805
9                glucose_mean  0.001618
48                 51249_mean  0.001606
103                 50882_min  0.001537
143                 51222_var  0.001479
1                  urea_n_min  0.001386
95                  50804_min  0.001267
160                  gender_M  0.001213
130                 50820_var  0.001148
157                     oasis  0.000877
159                  gender_F  0.000633
65                  50861_max  0.000569
162    marital_status_MARRIED  0.000561
163  marital_status_SEPARATED  0.000318
161   marital_status_DIVORCED  0.000233
164     marital_status_SINGLE  0.000111
165    marital_status_WIDOWED  0.000102

[166 rows x 2 columns]

In [22]:
features=df.columns[1:len(df.columns)-1]

In [23]:
len(features)

166

In [24]:
features

Index(['age', 'urea_n_min', 'urea_n_max', 'urea_n_mean', 'resprate_min',
       'resprate_max', 'resprate_mean', 'glucose_min', 'glucose_max',
       'glucose_mean',
       ...
       'apsiii', 'oasis', 'lods', 'gender_F', 'gender_M',
       'marital_status_DIVORCED', 'marital_status_MARRIED',
       'marital_status_SEPARATED', 'marital_status_SINGLE',
       'marital_status_WIDOWED'],
      dtype='object', length=166)