In [88]:
import pandas as pd
import numpy as np

In [89]:
df_dt = pd.read_csv('decision_tree.csv')
df_dt.sort_values(by=['weight'],ascending= False,inplace = True)
df_dt.reset_index(drop=True, inplace=True)
df_dt.head()
dt_vars=list(df_dt['features'][0:25].values)
dt_vars

['51277_var',
 '50813_min',
 '51265_max',
 '50893_max',
 '50821_max',
 '50971_max',
 '51301_min',
 '51256_min',
 '50878_min',
 '51274_mean',
 '51222_max',
 '51254_mean',
 '51491_max',
 '50971_min',
 '50983_min',
 '51006_min',
 '51221_min',
 '51222_min',
 '51244_min',
 '51237_min',
 '50960_min',
 '51248_min',
 '51274_max',
 '51249_min',
 '51250_min']

In [3]:
df_rg = pd.read_csv('regression.csv')
df_rg['weight'] = np.abs(df_rg['weight'])
df_rg.sort_values(by=['weight'],ascending= False,inplace = True)
df_rg.reset_index(drop=True, inplace=True)
df_rg.head()
rg_vars=list(df_rg['features'][0:25].values)
rg_vars

['urea_n_min',
 '51006_min',
 '50971_max',
 '51006_max',
 'urea_n_max',
 '50882_max',
 '51491_min',
 '50902_max',
 '50912_var',
 'gender_F',
 'gender_M',
 '50868_mean',
 'sofa',
 '51249_mean',
 'temp_max',
 '50971_var',
 '51006_mean',
 '50970_var',
 '50893_max',
 'temp_min',
 '51222_min',
 'marital_status_SINGLE',
 '51237_max',
 '50902_min',
 'temp_mean']

In [90]:
df_rf = pd.read_csv('randomForest.csv')
df_rf.sort_values(by=['weight'],ascending= False,inplace = True)
df_rf.head()
rf_vars=list(df_rf['features'][0:25].values)
rf_vars

['51277_var',
 '51249_min',
 '51279_min',
 '51248_var',
 '51301_min',
 '51265_var',
 '50971_var',
 '50902_min',
 '51274_max',
 '50931_max',
 '50882_max',
 '51250_var',
 '50931_min',
 '50868_max',
 '50971_max',
 '50804_max',
 '51277_mean',
 '51277_max',
 '51498_min',
 '50983_min',
 '51274_mean',
 '50971_min',
 'sysbp_min',
 '51491_min',
 '51265_max']

In [91]:
all_vars = dt_vars+rg_vars+rf_vars
all_vars_unq = np.unique(all_vars)

In [92]:
combine=[]
for v in all_vars_unq:
    temp=[]
    temp.append(v)
    if v in dt_vars:
        temp.append(1)
    else: 
        temp.append(0)
        
    if v in rg_vars:
        temp.append(1)
    else: 
        temp.append(0)
        
    if v in rf_vars:
        temp.append(1)
    else: 
        temp.append(0)
    
    combine.append(temp)

In [95]:
df_combine = pd.DataFrame(combine)
df_combine.columns = ['variables','dec_tree','regr','rand_for']
df_combine['sum']=df_combine['dec_tree']+df_combine['regr']+df_combine['rand_for']
df_combine.sort_values(by=['sum'],ascending= False,inplace = True)
df_combine.reset_index(drop=True, inplace=True)

In [96]:
df_combine

                variables  dec_tree  regr  rand_for  sum
0               50971_max         1     1         1    3
1               50971_var         0     1         1    2
2               50902_min         0     1         1    2
3               50983_min         1     0         1    2
4               51301_min         1     0         1    2
5               50971_min         1     0         1    2
6               51222_min         1     1         0    2
7               51277_var         1     0         1    2
8               51006_min         1     1         0    2
9               51491_min         0     1         1    2
10             51274_mean         1     0         1    2
11              50893_max         1     1         0    2
12              50882_max         0     1         1    2
13              51274_max         1     0         1    2
14              51249_min         1     0         1    2
15              51265_max         1     0         1    2
16             51277_mean         0     0         1    1
17              51279_min         0     0         1    1
18              51265_var         0     0         1    1
19              51277_max         0     0         1    1
20              50804_max         0     0         1    1
21              51491_max         1     0         0    1
22             51254_mean         1     0         0    1
23              51498_min         0     0         1    1
24               gender_F         0     1         0    1
25               gender_M         0     1         0    1
26  marital_status_SINGLE         0     1         0    1
27                   sofa         0     1         0    1
28              sysbp_min         0     0         1    1
29               temp_max         0     1         0    1
30              temp_mean         0     1         0    1
31               temp_min         0     1         0    1
32             urea_n_max         0     1         0    1
33              51256_min         1     0         0    1
34              51248_var         0     0         1    1
35              51250_var         0     0         1    1
36              50970_var         0     1         0    1
37              50821_max         1     0         0    1
38              50868_max         0     0         1    1
39             50868_mean         0     1         0    1
40              50878_min         1     0         0    1
41              50902_max         0     1         0    1
42              50912_var         0     1         0    1
43              50931_max         0     0         1    1
44              50931_min         0     0         1    1
45              50960_min         1     0         0    1
46              51006_max         0     1         0    1
47              51250_min         1     0         0    1
48             51006_mean         0     1         0    1
49              51221_min         1     0         0    1
50              51222_max         1     0         0    1
51              51237_max         0     1         0    1
52              51237_min         1     0         0    1
53              51244_min         1     0         0    1
54              51248_min         1     0         0    1
55              50813_min         1     0         0    1
56             51249_mean         0     1         0    1
57             urea_n_min         0     1         0    1

In [94]:
df_name = pd.read_csv('mimic_data/D_LABITEMS.csv')
df_name = df_name.iloc[:,1:5]
df_name.head()

   ITEMID                       LABEL                      FLUID    CATEGORY
0   51346                      Blasts  Cerebrospinal Fluid (CSF)  Hematology
1   51347                 Eosinophils  Cerebrospinal Fluid (CSF)  Hematology
2   51348             Hematocrit, CSF  Cerebrospinal Fluid (CSF)  Hematology
3   51349  Hypersegmented Neutrophils  Cerebrospinal Fluid (CSF)  Hematology
4   51350           Immunophenotyping  Cerebrospinal Fluid (CSF)  Hematology

In [114]:
label=[]
for indx,row in df_combine.iterrows():
    var = row['variables']

    if var.split('_')[0].isdigit():
        var_num= int(var.split('_')[0])
        var_new = df_name[df_name['ITEMID']==var_num]['LABEL']
        label.append(var_new.values[0])
    else:
        label.append(var)

In [116]:
df_combine['label']=label

In [118]:
df_combine.to_csv('final_report.csv',index=False)